---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout title="Astro" description="Astro is a modern front-end framework for building fast, content-focused websites.">
		</BaseLayout>
	</body>
</html>
